h1, h2 {
  text-align: center;
}

p {
  font-size: 1.5em;
}

div.container {
  margin: 0 5%;
}

div span {
  font-size: 1.05em;
  text-align: center;
}

p.img {
  float: left;
  width: 60%;
}

img {
  float: right;
}

p.nav {
  display: inline-block;
  margin-left: 20px;
}

.disabled {
  color: grey;
}

a {
  color: #344;
  text-decoration: none;

}
